body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MontSerrat',sans-serif !important;
  background: linear-gradient(0.25turn, #fefefe, #ffffff, #fffcfc);;
  /* background: linear-gradient(90deg, rgba(195, 220, 241, 0.938) 0%, rgba(135, 189, 243, 0.24) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* for background image */
.bg
{
  background-color: #ffffff !important;
  
  height: 850px !important;
  width: 90% !important;
  
}
/* For sign up pages */

.reg-left{
 
  height: auto !important;

  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2) !important;
 
  border-radius: 5px !important;
  backdrop-filter: blur(14px) !important;
  background-color: rgb(27, 28, 30) !important;
  
  background-size: cover !important;
}

.reg-right{
  background-color: rgb(253, 255, 254);
  height: auto !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.reg-img{
  width: 100% !important;
  height: 500px !important;
  margin-top: 20% !important;
}

.register{
  color: #fffcfc !important;
}

/* Text input field */
.inpt{
  background-color: rgb(175, 219, 238) !important;
  
}

.igr{
  margin-bottom: 5px !important;
}

/* login  */
.login{
  background-color: #cee4ef !important;
  height: 450px;
 
}

.lbl{
  padding-right: 2% !important;
}

.login-img{
  height: 210px;
  width: 70%;
}

.inpt2{
  margin-left: 2px !important;
}

.inpt-div{
  margin-left: 13% !important;
}

/* input text field design */
.input{
  border: 0 ;
  border-bottom: 3px solid #302b2b;
  width: 75% !important;
  padding: 5px 10px;
  background: transparent !important;
  transition: border-color 0.2s;
  align-items: center !important;
  text-align: center !important;
  margin-left: 10% !important;
  color: #fffcfc !important;
 
}
.input:focus{
  outline: none !important;
}

.form-control{
 
  /* margin-top: 1% !important; */
  width: 100%;
  color: #fffcfc !important;

  /* background: rgb(250, 237, 237); */
  box-shadow: none !important;
}

.text-left
{
  font-size: large;
  font-weight: bold;

}

.fa-google{
  font-size:34px;
  color:red
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.heading{
  font-size: 200;
  font-weight:bolder;
  text-shadow: 4px 4px 3px #675a5a, 7px 4px 5px #8282a7;
}

/* navbar */
.navbar-nav{
  text-align: right !important;
}

.navbar{
  background-color: #000000 !important;
}

.nav-link{
  color: white !important;
}